

<body>
<form action="/submit" method="POST">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br><br>
    <label for="st_age">Student Age:</label><br>
    <input type="text" id="st_age" name="st_age"><br><br>

    <label for="st_hby">Student Hobby:</label><br>
    <input type="radio" id="st_hby1" name="hobby" value="Sports">
    <label for="sports"> Sports</label><br>
    <input type="radio" id="st_hby2" name="hobby" value="Art">
    <label for="art"> Art</label><br>
    <input type="radio" id="st_hby3" name="hobby" value="Music">
    <label for="music"> Music</label><br>
    <input type="radio" id="st_hby4" name="hobby" value="Science">
    <label for="science"> Science</label><br><br>

    <label for="st_location">Address:</label><br>
    <input type="text" id="st_location" name="st_location"><br><br>
    <label for="st_contact">Parent/Guardian Contact:</label><br>
    <input type="text" id="st_contact" name="st_contact"><br><br>
    <label for="st_school">School Name:</label><br>
    <input type="text" id="st_school" name="st_school"><br><br>


    <button><a>Send</a></button><br>
</form>
</body>