<body>

<form action="/submitSchool" method="POST">
    <label for="sc_name">School name:</label><br>
    <input type="text" id="sc_name" name="sc_name"><br><br>
    <label for="sc_id">Registration number:</label><br>
    <input type="text" id="sc_id" name="sc_id"><br><br>
    <label for="sc_contact">Contact:</label><br>
    <input type="text" id="sc_contact" name="sc_contact"><br><br>
    <label for="sc_email">Email:</label><br>
    <input type="text" id="sc_email" name="sc_email"><br><br>
    <label for="sc_address">Address:</label><br>
    <input type="text" id="sc_address" name="sc_address"><br><br>

    <button><a>Send</a></button><br>
</form>
</body>
