

<body>
<form action="/submitSponsor" method="POST">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br><br>
    <label for="sp_age">Age:</label><br>
    <input type="text" id="sp_age" name="sp_age"><br><br>

    <label for="sp_hby">Hobby:</label><br>
    <input type="radio" id="sp_hby1" name="hobby" value="Sports">
    <label for="sports"> Sports</label><br>
    <input type="radio" id="sp_hby2" name="hobby" value="Art">
    <label for="art"> Art</label><br>
    <input type="radio" id="sp_hby3" name="hobby" value="Music">
    <label for="music"> Music</label><br>
    <input type="radio" id="sp_hby4" name="hobby" value="Science">
    <label for="science"> Science</label><br><br>

    <label for="sp_location">Address:</label><br>
    <input type="text" id="sp_location" name="sp_location"><br><br>
    <label for="sp_occ">Occupation:</label><br>
    <input type="text" id="sp_occ" name="sp_occ"><br><br>
    <label for="sp_contact">Contact:</label><br>
    <input type="text" id="sp_contact" name="sp_contact"><br><br>
    <label for="sp_email">Email:</label><br>
    <input type="text" id="sp_email" name="sp_email"><br><br>




    <button><a>Send</a></button><br>
</form>
</body>