<body>
<form action="/submit" method="POST">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br><br>
    <label for="lname">Student Age:</label><br>
    <input type="text" id="st_age" name="st_age"><br><br>
    <label for="lname">Address:</label><br>
    <input type="text" id="st_location" name="st_location"><br><br>
    <label for="lname">Parent/Guardian Contact:</label><br>
    <input type="text" id="st_contact" name="st_contact"><br><br>
    <label for="lname">School Name:</label><br>
    <input type="text" id="st_school" name="st_school"><br><br>


    <button><a>Send</a></button><br>
</form>
</body>